<html>
<head>
  <title>Ansible Automation Platform</title>
</head>
<body>
<h1>Welcome to an Ansible Automation Platform (AAP) Demo</h1>
<img src="images/aap.png" alt="">

  <p align=center><img src='http://docs.ansible.com/images/logo.png' align=center>
  <h1 align=center>{{ my_server }} --- {{ iis_test_message }}</h1>

</body>
</html>