<html>
<head>
  <title>Ansible Automation Platform</title>
</head>
<body>
<h1>Welcome to an Ansible Automation Platform (AAP) Demo</h1>
<img src="aap.png" alt="">

<p align=center><img src="aap.png" align=center>
<h1 align=center>{{ iis_test_message }}</h1>

<p>Please direct sales questions to:
<a href="mailto:{{ sales_email_id }}@redhat.com">{{ sales_person_name }}</a></p>
<p>Please direct technical questions to:
<a href="mailto:{{ tech_email_id }}@redhat.com">{{ tech_person_name }}</a></p>

<ul>
  <li><a href="https://github.com/ericcames/Windows/tree/main/AWS">Ansible playbooks for building the AAP Daily Demo.</a></li>
</ul>

</body>
</html>