<html>
<head>
  <title>Ansible Automation Platform</title>
</head>
<body>
<h1>Welcome to an Ansible Automation Platform (AAP) Demo</h1>

<p align=left><img src="aap.png" align=left><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<h3 align=left>{{ iis_test_message }}</h3>

<p>Please direct sales questions to:
<a href="mailto:{{ sales_email_id }}@redhat.com">{{ sales_person_name }}</a></p>
<p>Please direct technical questions to:
<a href="mailto:{{ tech_email_id }}@redhat.com">{{ tech_person_name }}</a></p>

<ul>
  <li><a href="https://github.com/ericcames/Windows/tree/main/AWS">Ansible playbooks for building this AAP Daily Demo.</a></li>
</ul>

<p><b>Thank you for considering Ansible Automation Platform!</b><br/>Automation as a service is a journey not a project.  :-)</p>
<p style="color:red;">The "AAP Daily Demo Windows Edition" will auto destruct at 01:00 hrs UTC time.</p>

<p style="color:green;"><div id="current_date"></p>
  <script>
  document.getElementById("current_date").innerHTML = Date();
  </script>

<p><b>Ansible West Tiger Team</b></p>

</body>
</html>